form {
    border-radius: 25px;
    border-width: medium;
    border-style: double;
    text-align: center;
    padding: 30px;
}

label {
    float: left;
    clear: both;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    float: right;
}

input[type="submit"] {
    clear: both;
    display: block;
}

input[type="email"].error, input[type="text"].error, input[type="password"].error {
    border: 2px solid red;
}

.error-message {
    float: right;
    clear: both;
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}